 :host {
    --ion-background-color: transparent;
  }

  ion-content {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
   
    background-color: white;
  }

  .center-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
     margin-top: 250px; /* Ajusta según la altura real del header */
  /* No uses height 100% aquí, para que crezca con el contenido */
  padding-bottom: -100px;
  }

  .login-html {
    max-width: 700px;
    width: 100%;
    min-height: 670px;
    background-color: white;
    box-shadow: 0 12px 15px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(0,0,0,.19);
    border-radius: 15px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background: rgba(255, 255, 255, 0.9);
    padding: 40px 40px 40px 40px;
    color: #000;
    box-sizing: border-box;
    border-radius: 15px;
  }

  .login-form {
    width: 100%;
    min-height: 345px;
    perspective: 1000px;
    transform-style: preserve-3d;
  }

  ion-list {
    background-color: transparent !important;
    padding: 0 10px;
  }

  ion-item {
    --background: transparent;
    border-bottom: 1px solid #b22222;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
  }

  /* Estilos para la info del usuario */
  .user-info-col h2 {
    margin: 0 0 5px 0;
    font-weight: 600;
    font-size: 1.2em;
    color: #000;
  }

  .user-info-col p {
    margin: 2px 0;
    font-size: 0.9em;
    color: #444;
  }

  ion-toolbar {
    --background: #6e0000 !important;
  }

  ion-input.input {
    color: #000;
    font-weight: 600;
    --padding-start: 10px;
    background: rgb(240, 238, 238);
    border-radius: 25px;
    padding: 15px 20px;
  }

  ion-button.login-button {
    background: #6e0000 !important;
    border-radius: 10px;
    font-weight: 600;
    color: aliceblue;
    font-size: 18px;
    margin-top: 15px;
    width: 100%;
    text-transform: none !important;
  }

  ion-button.login-button:hover {
    background: #a81414 !important;
  }

  .edit-form h3 {
    color: #6e0000;
    margin-bottom: 15px;
    text-align: center;
  }

  .error-message {
    color: red;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
  }

  .bottom-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
  }

  .bottom-menu ion-button {
    --color: #fff;
    font-size: 28px;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }

  .bottom-menu ion-button:hover {
    --color: #a81414;
    background: rgba(255, 255, 255, 0.1);
  }