<ion-content>
<div *ngIf="userRole === 'Authenticated'" class="container authorized-person">

  <ion-grid class="container-grid">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" size-md="8" size-lg="12" class="ion-text-center">
      
        <h1 class="title">Ya llegué</h1>
        <br>
        <img src="assets/school.png" alt="Logo" class="responsive-image" />
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center buttons-row">
       <ion-col size="12" size-md="auto" size-lg="auto">
        <ion-button expand="block" routerLink="/admin-dashboard">
          Gestionar Registros
        </ion-button></ion-col>

         <ion-col size="12" size-md="auto" size-lg="auto">
        <ion-button expand="block" routerLink="/home-docente">
          Monitoreo de avisos
        </ion-button></ion-col>

         <ion-col size="12" size-md="auto" size-lg="auto">
        <ion-button expand="block" routerLink="/home-padre">
          Gestión de dispositivos
        </ion-button></ion-col>

         <ion-col size="12" size-md="auto" size-lg="auto">
    <ion-button   (click)="cerrarSesion()" aria-label="Cerrar sesión">Cerrar Sesión</ion-button>
    
      </ion-col>
    </ion-row>
  </ion-grid>
</div>


<!-------------------------------------------------------------------------------------------------------------------->


<div *ngIf="userRole === 'Docente'" class="container authorized-person">

  <ion-grid class="container-grid">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" size-md="8" size-lg="12" class="ion-text-center">
      
        <h1 class="title">Ya llegué</h1>
        <br>
        <img src="assets/school.png" alt="Logo" class="responsive-image" />
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center buttons-row">
     <ion-col size="12" size-md="auto" size-lg="auto">
        <ion-button expand="block" routerLink="/home-docente">
          Listado de Estudiantes
        </ion-button></ion-col>

         <ion-col size="12" size-md="auto" size-lg="auto">
        <ion-button expand="block" routerLink="/home-docente">
          Historial de Avisos
        </ion-button></ion-col>

         <ion-col size="12" size-md="auto" size-lg="auto">
           <ion-button expand="block" routerLink="/historial-avisos-docente">
          Alertas en tiempo real
        </ion-button></ion-col>

         <ion-col size="12" size-md="auto" size-lg="auto">
        <ion-button expand="block" routerLink="/home-padre">
          Perfil
        </ion-button></ion-col>

         <ion-col size="12" size-md="auto" size-lg="auto">
    <ion-button   (click)="cerrarSesion()" aria-label="Cerrar sesión">Cerrar Sesión</ion-button>
    
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<!-----------------------------------------AUTORIZADA--------------------------------------------------------------------------->

<div *ngIf="userRole === 'Persona Autorizada'" class="container authorized-person">

  <ion-grid class="container-grid">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" size-md="8" size-lg="12" class="ion-text-center">
      
        <h1 class="title">Ya lleguée</h1>
        <br>
        <img src="assets/school.png" alt="Logo" class="responsive-image" />
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center buttons-row" >
     <ion-col size="12" size-md="auto" size-lg="auto">
        <ion-button expand="full" routerLink="/home-padre"  >
          Listado de Estudiantes
        </ion-button></ion-col>

         <ion-col size="12" size-md="auto" size-lg="auto">
        <ion-button expand="full" routerLink="/historial-avisos-autorizado">
  Historial de Avisos
</ion-button>
</ion-col>

         <ion-col size="12" size-md="auto" size-lg="auto">
           <ion-button expand="full" routerLink="/home-docente">
          Alertas en tiempo real
        </ion-button></ion-col>

         <ion-col size="12" size-md="auto" size-lg="auto">
        <ion-button expand="full" routerLink="/home-padre">
          Perfil
        </ion-button></ion-col>

         <ion-col size="12" size-md="auto" size-lg="auto">
    <ion-button   (click)="cerrarSesion()" expand="full" aria-label="Cerrar sesión">Cerrar Sesión</ion-button>
         </ion-col>
     
    </ion-row>
  </ion-grid>
</div>



</ion-content>

<style>

</style>