:host {
  --ion-background-color: transparent; /* o quítalo */
  background-image: linear-gradient(rgba(255, 255, 255, 0.966), rgba(255, 255, 255, 0.904)),
    url('/assets/1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

   


  ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
 
    
  }

  .container-grid {
    max-width: 600px;
    width: 100%;
  }

  .title {
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 700;
  }
 .responsive-image {
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    filter: saturate(0.7);
    border: 1px;
    box-shadow:
      0 4px 6px rgba(168, 20, 20, 0.4),
      0 8px 15px rgba(168, 20, 20, 0.2),
      inset 0 -3px 8px rgba(255, 255, 255, 0.3);
  }


  ion-button {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 15px;
    width: 100%;
    min-width: 250px;
    text-transform: none !important;
    --background: #a81414;
    background: rgba(255, 255, 255, 0.1);
  }

  ion-button:hover {
    --color: #a81414;
    background: rgba(255, 255, 255, 0.1);
  }

  .buttons-row {
    margin-top: 10px;
  }


  @media (min-width: 768px) {
    ion-col[size-md="8"] {
      max-width: 480px; 
    }
  }

  @media (min-width: 1200px) {
    ion-content {
      padding: 40px;
    }

    .title {
      font-size: 3rem;
    }

  }